.about-us {
  margin-bottom: 150px;
}

.about-us__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.about-us__discription {
  display: block;
  padding-bottom: 30px;
  width: 1048px;
  font-size: 45px;
  line-height: 61px;
}

.about-us__link {
  /* margin-bottom: 150px; */
  display: inline-block;
  padding: 20px 40px;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  color: #ffffff;
  border: 1px solid #ad1818;
  background: #ad1818;
  border-radius: 5px;
}

@media (max-width: 1199px) {
  .about-us__discription {
    margin-bottom: 1px;
    width: 690px;
    font-size: 35px;
    line-height: 48px;
  }

  .about-us {
    margin-bottom: 120px;
  }
}

@media (max-width: 767px) {
  .about-us {
    margin-bottom: 80px;
  }
  .about-us__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

  .about-us__discription {
    width: 100%;
    font-size: 22px;
    line-height: 30px;
  }

  .about-us__link {
    /* margin-bottom: 80px; */
    padding: 11px 27px;
    font-size: 16px;
  }
}
