footer {
  padding: 56px 0 30px 0;
}

.footer_title {
  margin-top: 87px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
}

.footer__nav {
  margin: auto;
  display: flex;
  max-width: 450px;
  justify-content: space-between;
}

.footer_nav-link {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer_nav-link:hover {
  opacity: 0.5;
}

@media (max-width: 767px) {
  footer {
    padding: 30px 0 26px 0;
  }

  .footer__nav {
    max-width: 280px;
  }

  .footer_nav-link {
    font-size: 12px;
    line-height: 17px;
  }

  .footer_title {
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 500px) {
  .footer_title {
    margin-top: 41px;
  }
}
