.input {
  display: block;
  margin-top: 50px;
  font-size: 25px;
  line-height: 34px;

  border: none;
  border-bottom: 1px solid #000000;

 
}

.input:focus {
  outline: none;
}

.input::placeholder {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .input {
    font-size: 18px;
    line-height: 25px;
  }
}
