.intro__container {
  margin-bottom: 150px;
}

.intro__title {
  margin-bottom: 30px;
  width: 956px;
  font-size: 60px;
  line-height: 59px;

  color: #121212;
}

.intro_image {
  position: relative;
  width: 1150px;
  height: 500px;
  background-image: url("../resources/intro.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.intro__description {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  font-size: 20px;
  line-height: 27px;

  color: #ffffff;
}

@media (max-width: 959px) {
}

@media (max-width: 374px) {
}
