.order__title {
  margin-bottom: 4px;
  font-size: 45px;
  line-height: 61px;
  text-align: center;

  color: #000000;
}

.order__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

.order__input {
  width: 100%;
}

@media (max-width: 767px) {
  .order__title {
    margin-bottom: 11px;
    font-size: 25px;
    line-height: 34px;
  }

  .order__subtitle {
    font-size: 14px;
    line-height: 19px;
  }
}
