.projects {
  margin-bottom: 150px;
}

.project__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #121212;
}

.project__item {
  margin-bottom: 94px;
}

.project__image {
  margin-bottom: 13px;
  width: 100%;
  display: block;
  height: 450px;
}
.project__title-adress {
  margin-bottom: 14px;
  font-size: 30px;
  line-height: 41px;
  color: #121212;
}
.project__link {
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #ad1818;
}

.project__btn {
  
  padding: 55px 0 55px 0;
  font-family: "Manrope", sans-serif;
  width: 100%;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  justify-content: center;

  background: #ffffff;
  color: #ad1818;
  border-radius: 5px;
  border: 1px solid #ad1818;
}

.project__btn:hover {
  cursor: pointer;
  color: #ffffff;
  background: #ad1818;
}

@media (max-width: 1199px) {
  .projects {
    margin-bottom: 101px;
  }

  .project__item {
    display: block;
    margin-bottom: 80px;
  }

  .project__item:last-child {
    margin-bottom: 102px;
  }

  .project__image {
    width: 100%;
    object-fit: cover;
  }

  .project__title-adress {
    margin-bottom: 12px;
    font-size: 25px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  .projects {
    width: 100%;
    margin-bottom: 140px;
  }

  .project__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

  .project__item {
    display: block;
    margin-bottom: 49px;
  }

  .project__item:last-child {
    margin-bottom: 60px;
  }

  .project__image {
    margin-bottom: 20px;
    object-fit: cover;
    height: 250px;
  }

  .project__title-adress {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 25px;
  }

  .project__link {
    font-size: 16px;
    line-height: 22px;
  }

  .project__btn {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 400px) {

  .projects{margin-bottom: 144px;}
  .project__btn {
    padding-left: 13px;
    padding-right: 12px;
    padding-top: 37px;
    padding-bottom: 37px;
    line-height: 24px;
  }
}
