@import "../styles/navbar.css";
@import "../styles/intro.css";
@import "../styles/about-us.css";
@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/reviews.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
a,
p,
span,
button {
  letter-spacing: -0.03em;
}

button {
  font-family: "Manrope";
}
.section-white {
  width: 100%;
  background-color: #ffffff;
}
.section-black {
  background: #121212;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1150px;
}

.bedroom-img {
  margin-bottom: 186px;
  width: 100%;
  min-width: 1400px;
  height: 717px;
  background-image: url("../resources/bedroom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.bedroom-img__container {
  width: 1400px;
  height: 717px;
  position: relative;
  margin: 0 auto;
}

.bedroom-img__title {
  width: 443px;
  height: 82px;
  position: absolute;
  font-size: 30px;
  line-height: 41px;
  left: 125px;
  bottom: 60px;
  color: white;
  text-align: left;
}

/* АДАПТИВ */

@media (max-width: 1199px) {
  .container {
    width: 100%;
  }
}
